# JetBrains IDEA
/.idea/
/venv/
/old/algorithm_sandbox/mock_data/
/old/algorithm_sandbox/logs/
__pycache__/

# ignore all data files
/benchmarking/data/real_data/*/files/

.DS_Store
.env.prod

# Environment variables
env/.env*

# Nginx
logs/nginx/

# Local database
.data/

# manual_run csv files
/manual_run/*/*.csv